<app-header2></app-header2>
<br/>
<br/>
<br/>
<h1>Profile</h1>
<h3>Username: {{currentUser.username}}</h3>
<h3>Location: {{currentUser.location}}</h3>
<h3>User Id: {{currentUser.id}}</h3>
<h3>Likes:</h3>

<div *ngFor="let like of currentUser.likes" >
   <div *ngIf="like.is_liked==true">
    <p>likeId: {{like.id}} | r_id: {{like.r_id}} 
    </div>
</div>
<h1>Friends:</h1>
<div *ngFor="let friend of friends"  >
        <h4>---ID----|----NAME---</h4>
     <p>---{{friend.f_id}}----------|--------{{friend.f_name}}--- </p>
     <p> </p>
   
 </div>