<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{restaurants[currentIndex].image_url}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{restaurants[currentIndex].name}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Website: <a href="{{restaurants[currentIndex].web_url}}" target="_blank">{{restaurants[currentIndex].web_url}}</a></li>
              <li class="list-group-item">Location: {{restaurants[currentIndex].location}}</li>
            </ul>
            <div class="card-body">
                <button (click)="clickPrev()">Prev</button>
                <button (click)="clickNext()">Next</button>
            </div>
          </div>
        

    </div>
    <div class="col-sm-4"></div>

</div>
